name: Build and Push Docker Image

on:
  push:
    branches:
      - main
  workflow_dispatch: # Чтобы можно было запустить кнопку руками при желании

env:
  IMAGE_NAME: ghcr.io/ophoperhpo/sglang-qwen
  TAG: v0.5.7dev-cu129-amd64

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write # Разрешение на запись в GitHub Packages

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push
        run: |
          docker buildx build \
            --target framework \
            --platform linux/amd64 \
            --push \
            -f docker/Dockerfile \
            --build-arg CUDA_VERSION="12.9.1" \
            --build-arg BUILD_TYPE="all" \
            --build-arg GRACE_BLACKWELL=0 \
            --build-arg INSTALL_FLASHINFER_JIT_CACHE=1 \
            --build-arg SGL_VERSION=v0.5.7dev \
            -t ${{ env.IMAGE_NAME }}:${{ env.TAG }} \
            --no-cache .
